# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/

# Ignore log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore any other files or directories that should not be included in the Docker image
*.md
*.txt
*.csv
*.json
*.yaml
*.yml
*.zip
*.tar
*.tar.gz
*.tgz
*.egg-info/
dist/
build/